# FastQ files #
###############
**/*fastq
**/*fastq.gz
**/*fq*
**/*fa
**/*.fasta

# R files #
###########
**/*Rds
**/*rds
**/*RDS
**/*Rhistory
**/*RData

# Databases #
#############
**/*DB_data

# Tools #
#########
**/*.snakemake

# Output files #
################
**/*pdf
**/*csv
**/*tsv
**/*png
**/*txt
**/*html
**/*log
**/*json
**/*fastqc.zip

# Reference files #
###################
**/*.xml
**/*.zip

# Job logs #
############
**/*joblog*
.Rproj.user
