# FastQ files #
###############
**/*fastq
**/*fastq.gz
**/*fq*
**/*fa
**/*.fasta

# R files #
###########
**/*.Rds
**/*.rds
**/*.RDS
**/*Rhistory
**/*RData
.Rproj*

# Databases #
#############
**/DBs*

# Tools #
#########
**/*.snakemake
**/*.nextflow*

# Output files #
################
**/*_output*
**/*work
**/*pdf
**/*csv
**/*tsv
**/*png
**/*txt
**/*html
**/*json
**/*fastqc.zip

# Reference files #
###################
**/*.xml

# Log files #
############
**/*log*

# Others #
##########
**/*testing_grounds
**/config.sh
**/*.swp
**/*.test
**/*old*
**/*checklist*