# FastQ files #
###############
**/*fastq
**/*fastq.gz
**/*fq*
**/*fa
**/*.fasta

# R files #
###########
**/*Rds
**/*rds
**/*RDS
**/*Rhistory
**/*RData
.Rproj.user

# Databases #
#############
**/DBs*

# Tools #
#########
**/*.snakemake

# Output files #
################
**/*outputs
**/*pdf
**/*csv
**/*tsv
**/*png
**/*txt
**/*html
**/*log
**/*json
**/*fastqc.zip

# Reference files #
###################
**/*.xml

# Job logs #
############
**/*joblog*
**/*job_log*